@CHARSET "UTF-8";

@font-face {
    font-family: 'myriad_pro';
    src: url('fonts/MYRIADPROREGULAR.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'helvetica';
    src: url('fonts/HelveticaNeue.otf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'lobster';
    src: url('fonts/Lobster.otf') format('truetype');
    font-style: normal;
}

/*
CORES
Laranja = #FBAD18
Cinza Título = #535353
Cinza texto = #545454
Cinza Valores = #686868
Laranja Valores = #FAAC18
Cinza detalhe Imóveis = #3E3E3F
Cinza título imóveis = #3E3E3F
Cinza footer bg = #545454
*/

body {
	font-family: 'myriad_pro';
}

.cabecalho {
}

.div_redes { 
	color: #FFFFFF;
}

.div_redes a, .div_redes a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.div_redes a i {
	font-size: 2em;
	padding: 5%;
}

.cabecalho .redes_sociais {
	text-align: right;
	margin-bottom: 0;
}

.cabecalho .redes_sociais li img {
	width: 70%;
	margin: 0;
	display: inherit;
}

.cabecalho .redes_sociais li {
	text-align: center;
	padding-right: 0px; 
	padding-left: 0px; 
	margin-top: 1%;
}

.cabecalho .redes_sociais li i {
	font-size: 1.5em;
}


.div_redes_2 { 
	background: #FBAD18;
	color: #FFFFFF;
}

.div_redes_2 a, .div_redes_2 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.div_redes_2 a i {
	font-size: 2em;
	padding: 5%;
}

.cabecalho .redes_sociais_2 {
	text-align: right;
	margin-bottom: 0;
	float: right;
	margin-right: 3%;
}

.cabecalho .redes_sociais_2 li img {
	width: 70%;
	margin: 0;
	display: inherit;
}

.cabecalho .redes_sociais_2 li {
	text-align: center;
	padding-right: 24px; 
	padding-left: 0px; 
	margin-top: 5px;
}


.cabecalho .logo h1 {
	margin-top: 0px;
}

.cabecalho .logo_img {
	padding-top: 0;
}

.logo_img img{
	width: 61%;
}

.cabecalho .navbar-default {
  background-color: transparent;
  border-color: transparent;
  min-height: 72px;
  margin-bottom: 0;
}

.cabecalho .navbar-default .navbar-nav > li > a {
	padding-bottom: 5px;
	padding-top: 5px;
	color: #FFFFFF;
}

.cabecalho .navbar-brand {
	height: 80px;
}

.cabecalho .nav > li {
	margin-top: 0%;
	font-size: 16px;
}

.cabecalho .nav > li:last-child{
	border-right: none; 
}

.cabecalho .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white;
  	background-color: transparent;
  	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #DD4046;
}

.cabecalho .link_menu {
	margin-top: 1%;
}

.contato_header {
	float: right;
	color: white;
	font-family: helvetica;
	padding-top: 4%;
}

.contato_header .texto {
	font-size: 16px;
	padding-left: 8%;
	margin-bottom: 0;
}

.contato_header .tel { color: #FAAA19; display: inline; font-size: 16px;}
.contato_header  i {color: #FAAA19; display: inline; font-size: 20px; padding-right: 3%;}

.menu_home {
	position: absolute;
	z-index: 1040;
	width: 100%;
}

.menu_home_2 {
	position: relative;
	z-index: 1040;
	width: 100%;
	overflow: hidden;
}

.menu_2 .bg_menu {
	/* background: #535353 !important; */
}

/* .menu_2 {background-color: #535353 !important;} */
#menu {
  padding-bottom: 1%;
  margin: 0;
  width: 100%;
  border-radius: 0;
  border-color: transparent;
  position: fixed;
  background-color:transparent; 
  top: 37px;
}
#menu .logo {
 /* float: left;
  padding-right: 1%;
  padding-left: 7%;*/
  padding-left: 5%;
}

.logo_h_fixed {
	display: none;
}

#menu nav ul {
  	height: 36px;
 	padding-top: 3%;
}
#menu nav li {
  padding: 0.5% 3%;
  text-align: center;
  text-transform: uppercase;
}
#menu nav li a {
  padding: 4px;
  color: white;
}
#menu nav li a:hover {
  color: white;
  border-bottom: 2px solid #FBAD18;
  text-decoration: none;
}

#menu_2 {
  padding-bottom: 0%;
  margin: 0;
  width: 100%;
  border-radius: 0;
  border-color: transparent;
  position: relative;
  background-color:#535353; 
  /* top: 37px; */
}
#menu_2 .logo_2 {
 /* float: left;
  padding-right: 1%;
  padding-left: 7%;*/
  padding-left: 5%;
}

#menu_2 nav ul {
  	height: 36px;
 	padding-top: 5%;
}
#menu_2 nav li {
  padding: 0.5% 3%;
  text-align: center;
  text-transform: uppercase;
}
#menu_2 nav li a {
  padding: 4px;
  color: white;
}
#menu_2 nav li a:hover {
  color: white;
  border-bottom: 2px solid #FBAD18;
  text-decoration: none;
}

.banner {position: relative;}

#slider {
	/* border-bottom: 4px solid #FBAD18; */
}


#slider .item img {
	width: 100%;
}

#slider .carousel-control {
	top: 40%;
	width: 5%;
}

#slider .carousel-control.left {
    height: 80px;
    background-image: none;
}

#slider .carousel-control.left span i {
	font-size: 6em;
}

#slider .carousel-control.left span i:hover {
	color: white;
}

#slider .carousel-control.right {
    height: 80px;
    background-image: none;
}

#slider .carousel-control.right span i {
	font-size: 6em;
}

#slider .carousel-control.right span i:hover{
	color: white;
}

#slider .controle_left {

}

#slider .controle_right {

}

#slider .carousel-caption {
	/*background: #333333;*/
	opacity: 0.8;
	padding-top: 10px;
    padding-bottom: 10px;
    bottom: 37%;
}

#slider .carousel-caption:hover {
	/*background: #333333;*/
	opacity: 0.9;
}

#slider .carousel-caption h3 {
	font-size: 60px;
	font-family: lobster;
} 

#slider .carousel-caption p {
	font-size: 18px;
}

.sobre_empresa {
	padding-top: 3%;
	overflow: auto;
	padding-bottom: 3%;
}

.sobre_empresa h1 {
	font-size: 24px;
	color: #535353;
	text-align: center;
	font-family: helvetica;
}

.sobre_empresa .traco {
/* 	position: relative;
	overflow: auto; */
	margin-top: -11px;
    margin-bottom: 2%;
}

.sobre_empresa .traco hr {
	color: #FBAD18;
    border-color: #FBAD18;
    width: 7%;
    border: 1px solid;
    margin-bottom: 0;
}

.sobre_empresa .empresa {
	color: #535353;
	font-family: helvetica;
}

.sobre_empresa .sobre {
	color: #545454;
	font-size: 19px;
	text-align: center;
	padding: 2% 4%;
}

.sobre_empresa .valores {
	color: #545454;
	font-size: 19px;
	text-align: center;
    padding: 2% 5%;
}

.sobre_empresa .valores i {
	color: #FBAD18;
	font-size: 2em;	
}

.sobre_empresa .valores .texto {
	padding: 0% 15% 0% 15%;
	font-size: 16px;
}

.sobre_empresa .valores .divisao {
	min-height: 206px;
}

.sobre_empresa .titulo_empresa {
	font-size: 20px;
	color: #FBAD18;
}

.bg_valor {
	background: #F7F8F9;
}

.sobre_banner_contato {
	position: relative;
}

.sobre_banner_contato img {
	width: 100%;
}

.sobre_banner_contato .textos {
	position: absolute;
    top: 21%;
    color: white;
    width: 26%;
    right: 12%;
    font-family: helvetica;
    text-align: center;
}

.sobre_banner_contato .textos .titulo {
	font-size: 24px;
	
}

.sobre_banner_contato .textos .descricao {
	font-size: 16px;
	margin-top: 10%;
}

.sobre_banner_contato .textos .botao {
	font-size: 16px;
    padding: 3%;
    border: 1px solid white;
    width: 47%;
    margin: 7% auto;
}

.sobre_banner_contato .textos .botao a, .sobre_banner_contato .textos .botao a:hover {
	color: white;
    text-decoration: none;

}

#destaques, .result_busca_imovel {
	padding-top: 3%;
	overflow: auto;
}

#destaques h1, .result_busca_imovel h1 {
	font-size: 24px;
	color: #535353;
	text-align: center;
	font-family: helvetica;
}

#destaques .traco {
	margin-top: -11px;
    margin-bottom: 2%;
}

#destaques .traco hr {
	color: #FBAD18;
    border-color: #FBAD18;
    width: 7%;
    border: 1px solid;
    margin-bottom: 0;
}

#destaques .subtitulo, .result_busca_imovel .subtitulo {
	color: #545454;
	font-size: 17px;
	text-align: center;
	padding: 0% 4%;
	font-family: helvetica;
}

#destaques .imoveis, .result_busca_imovel .imoveis { text-align: center; font-family: helvetica; padding-top: 3%; }
#destaques .imoveis .item, .result_busca_imovel .imoveis .item{ text-align: center;  margin-top:3%;}
#destaques .imoveis .item .imagem {}
#destaques .imoveis .item .imagem img, .result_busca_imovel .imoveis .item .imagem img { 
	width: 190px;
    height: 137px; 
}
#destaques .imoveis .item .titulo, .result_busca_imovel .imoveis .item .titulo { 
	color: #3E3E3F;
	font-size: 14px;
	font-weight: 700;
	padding: 0% 5%;
	height: 40px;
 }
#destaques .imoveis .item .valor, .result_busca_imovel .imoveis .item .valor {
	color: #FBAD18;
	font-size: 15px;
	font-weight: 600;
}
#destaques .imoveis .item .endereco, .result_busca_imovel .imoveis .item .endereco {
	font-size: 12px;
	color: #3E3E3F;
	padding: 0% 5%;	
	height: 60px;
}
#destaques .imoveis .item .endereco i, .result_busca_imovel .imoveis .item .endereco i { color: #FBAD18; font-size: 18px;}
#destaques .imoveis .item .endereco .texto {} 
#destaques .imoveis .item .detalhe, .result_busca_imovel .imoveis .item .detalhe { 
	background: #FBAD18;
	color: white; 
	padding: 5%;
    font-size: 16px;
}
#destaques .imoveis .item .detalhe i, .result_busca_imovel .imoveis .item .detalhe i {
	color: white;
}
#destaques .imoveis .item .detalhe a, .result_busca_imovel .imoveis .item .detalhe a { color:  white; text-decoration: none;
}
.invisivel {display: none;}
.result_busca_imovel #destaques .imoveis {padding-top: 0%;}

.bg_newslatter { 
	background: url("../img/bg_newsletter.png") repeat-x; 
	min-height: 330px;
	margin-top: 3%;
}
.newsletter { 
	color: white; 
	font-family: helvetica;
	text-align: center; 
	padding-top: 2%;
}
.newsletter .simbolo {
	width: 90px;
    padding: 2%;
    margin: auto;
    border: 1px solid white;
    border-radius: 100%;
}
.newsletter .simbolo img {}
.newsletter .titulo {}
.newsletter .titulo h1 { font-size: 24px; }
.newsletter .titulo .traco {}
.newsletter .titulo .traco {
    margin-bottom: 2%;
}

.newsletter .titulo .traco hr {
	color: white;
    border-color: white;
    width: 7%;
    border: 1px solid;
    margin-bottom: 0;
}
.newsletter .subtitulo {padding-bottom: 2%;}
.newsletter .subtitulo p {
	font-size: 16px;
}
.newsletter .form {}
.newsletter .form .input_newsletter {
	height: 39px;
    width: 38%;
    margin-right: 2%;
    border: none;
    color: #999999;
    padding-left: 1%;
}
.newsletter .form placeholder { color: #ccc9c9; }
.newsletter .form button {
	background: transparent;
    border: 1px solid white;
    padding: 0.5% 4%;
    font-family: helvetica;
    font-size: 16px;
}


.servicos {
	padding-bottom: 2%;
}

.servicos .nav-tabs {
	border-bottom: none;
}

.servicos .nav-tabs > li {
	margin-bottom: 0;
}

.servicos .nav-tabs li, .servicos .nav-tabs li a, 
.servicos .nav-tabs li a:hover, .servicos .nav-tabs li:hover,
.servicos .nav-tabs li a:focus, .servicos .nav-tabs li:focus, 
.servicos .nav-tabs li.active, .servicos .nav-tabs li .active:hover, 
.servicos .nav-tabs li .active:focus {
	border: none;
} 



.servicos .nav-tabs .active{
	color: #2A251F;
}

.servicos > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: white;
	background-color: white;
	padding-bottom: 15px;
}
.servicos > .nav-tabs > li.active > a:hover {
	background: white;
	background-color: white;
}
.servicos > .nav-tabs > li.active, .servicos > .nav-tabs > li.active:hover, 
.servicos > .nav-tabs > li.active:focus {
	border: 1px solid #DDDDDD;
}

.servicos .nav-tabs .active a {
	color: #2A251F;
}

.servicos .nav-tabs .active .icone_nav {
	color: #CF0616;
	font-size: 1.5em;
}
.servicos .nav-tabs li, .servicos .nav-tabs li:hover {
	border: 1px solid #DDDDDD;
}

.servicos .nav-tabs li, .servicos .nav-tabs li:hover {
	text-align: center;
	background: #CD1C22;
	min-width: 16.66%;
}

.servicos .nav-tabs li a {
	color: white;
	text-transform: capitalize;
}

.servicos > .nav > li > a:hover, .nav > li > a:focus {
	background-color: #CD1C22;
	border: none;
}

.servicos > .nav-tabs > li > a {
	margin-right: 0px; 
    line-height: 1.42857143;
    /*border: 0px solid #DDDDDD;*/
    border-radius: 0px 0px 0 0;
    padding: 15px 15px;
}

.servicos .nav-tabs li .icone_nav {
	color: white;
	font-size: 1.5em;
}

.servicos .tab-content {
	padding-top: 2%;
	margin-bottom: 3%;
	padding-bottom: 2%;
}

.servicos .tab-pane {
	text-align: center;
}

.servicos .tab-pane h1 {
	color: #2A251F;
	font-size: 24px;
}

.servicos .tab-pane .icon_sevicos {
	color: #CF0616;
	font-size: 2em;
	padding-top: 1%;
	padding-bottom: 2%;
}

.conteudo_servicos {
	color: #444444;
	font-size: 18px;
	width: 80%;
	margin: auto;
	padding-bottom: 4%;
	padding-top: 2%;
}

.noticias {
	padding-bottom: 2%;
	text-align: center;
}

.noticias i {
	color: #CF0616;
	font-size: 3em;
}

.noticia_item {
	padding-bottom: 2%;
	overflow: hidden;
}

.noticias .titulo_sessao {
	font-size: 32px;
}

.noticias .subtitulo {
	font-size: 22px;
	margin-bottom: 3%;
}

.noticia_item .data {
	background: #68635E;
	color: white;
	text-transform: uppercase;
	padding-top: 3%;
	padding-bottom: 1%;
	font-weight: bold;
	padding-left: 1%;
	padding-right: 1%;
}

.noticia_item .data .dia {
	font-size: 18px;
}

.noticia_item .data .mes {
	font-size: 18px;
}

.noticia_item .titulo_noticia_item {
	font-size: 18px;
	margin-top: 0;
}

.noticia_item .titulo_noticia_item a, .noticia_item .titulo_noticia_item a:hover {
	color: #333333;
}

.noticia_item .texto {
	text-align: left;
}

.noticia_item .resumo_noticia_item {
	color: #ABA8B1;
}

.traco_centro {
	position: relative;
	overflow: auto;
}

.traco_centro hr {
	color: #F82F3F;
    border-color: #F82F3F;
    width: 7%;
    border: 1px solid;
    margin-bottom: 0;
}

.time {
	text-align: center;
	font-family: helvetica;
	margin-top: 2%;
	color:  #777777;
}

.time h1 {
	font-size: 24px;
	color:  #777777;

}

.time .traco {
	margin-top: -11px;
    margin-bottom: 2%;
}

.time .traco hr {
	color: #FBAD18;
    border-color: #FBAD18;
    width: 7%;
    border: 1px solid;
    margin-bottom: 0;
}

.time .subtitulo {
	font-size: 16px;
	padding: 0% 13%;
}

#equipe {
	margin-top: 3%;
	background: url("../img/bg_time.png");
	padding-bottom: 3%;
	background-size: cover;
}
#equipe .traco {
	margin-top: -11px;
    margin-bottom: 2%;
}

#equipe .traco hr {
	color: #FBAD18;
    border-color: #FBAD18;
    width: 7%;
    border: 1px solid;
    margin-bottom: 0;
}

#equipe ul {list-style:none;}
#equipe h3 {
	color:  #777777;
	font-size:24px;
	margin-top: 8%;
}
#equipe p {
	color:#777777;
}
#equipe .frame-0 {
	background: #F2F2F2 url(../img/jerusa.jpg) no-repeat left top;
	/*background:url(../img/jerusa.png) top left no-repeat;
	background-image: url(../img/jerusa.png) top left no-repeat;*/
}
#equipe .frame-1 {
	background: #F2F2F2 url(../img/rita.jpg) no-repeat left top;
	/*background:url(../img/rita.png) top left no-repeat;
	background-image: url(../img/rita.png) top left no-repeat;*/
}
#equipe .frame-2 {
	background: #F2F2F2 url(../img/karla.jpg) no-repeat left top;
	/*background:url(../img/karla.png) top left no-repeat;
	background-image: url(../img/karla.png) top left no-repeat;*/
}
#equipe .frame-content {
	width:715px;
	padding: 10px 30px 50px 50px;
	font-size: 15px;
	color:#777777;
	text-align: left;
}
#equipe .frame-closed .frame-content {display:none;}
#equipe .frame-open .frame-content {
	display:block;
	margin: auto;
	float: right;
	padding-right: 12%;
}

#equipe .area h4 {
	color: #353434;
}

#equipe .atividade h4 {
	color: #353434;
}

#equipe .email, #equipe .email a, #equipe .email a:hover {
	color: #D05762;
}

#equipe .foto {
	height: 15%;
    width: 50%;
    margin: auto;
    margin-bottom: 4%;
}
#equipe img {
	width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid #FBAD18;
}

#contato {
	position: relative;
	margin-top: 2%;
	color: #525252;
	font-family: helvetica;
	padding-left: 6%;
	padding-bottom: 3%;
}

#contato h1 {
	color: #2A251F;
	font-size: 32px;
}

#contato i {
	font-size: 3em;
	color: #A5010E;
}

#contato h2 {
	color: #525252;
	font-size: 18px;
	margin-bottom: 5%;
}

#contato form {
	text-align: left;
	overflow: auto;
	font-family: helvetica;
}

#contato label {
	width: 100%;
	color: #666666;
}

#contato .linh_form {
	padding-bottom: 2%;
}

#contato .linh_form_m {
	padding-bottom: 2%;
}

#contato .linh_form input,#contato .linh_form_m input {
	background: #F7F7F7;
    border: solid 1px #DDDDDD;
    height: 50px;
    width: 35%;
}

#contato .linh_form_m input {width: 50%;}

#contato .linh_form input:focus, 
#contato .linh_form_m input:focus,
#contato .linh_form textarea:focus {
	background: #FBFBFB;
}

#contato .linh_form textarea {
	background: #F7F7F7;
	width: 75%;
	border: solid 1px #DDDDDD;
}

#form_contato .div_btn {
	text-align: right;
    margin-right: 25%;
}

#form_contato .div_btn .btn {
	padding: 1% 6%;
	background: #FBAA19;
	color: white;
}

.breadcrumb_custom { 
	background-color: #F9F9F9;
    padding-left: 6.2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.breadcrumb_custom ul {
	display: inline;
    padding-left: 0px;
}
.breadcrumb_custom ul li {
	display: inline;
}
.breadcrumb_custom ul li:first-child {
	border-right: 1px solid #525252;
    padding-right: 5px;
}

.breadcrumb_custom ul li:last-child {color: gray;}

footer {
	text-align: center;
	background: #545454;
	overflow: auto;
	padding: 2% 2% 1% 2%;
	color: #FFFFFF;
	font-family: helvetica;
}

footer .logo_footer {
	margin-top: 1%;
}

footer .logo_footer img {
	
}

footer .endereco {
	color: white;
	margin-top: 2%;
	font-family: helvetica;
	letter-spacing: 1px;
}

footer .endereco a, footer .endereco a:hover {
	color: white;
}

footer .endereco p {
	margin-bottom: 0;
}

.boder_gradiente {
	height: 3px;
	background: #fbd30b;
	background: -moz-linear-gradient(left, #fbd30b 0%, #fbd30b 1%, #ed6e23 52%, #ed6d23 63%, #ed6d23 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #fbd30b), color-stop(1%, #fbd30b), color-stop(52%, #ed6e23), color-stop(63%, #ed6d23), color-stop(100%, #ed6d23));
	background: -webkit-linear-gradient(left, #fbd30b 0%, #fbd30b 1%, #ed6e23 52%, #ed6d23 63%, #ed6d23 100%);
	background: -o-linear-gradient(left, #fbd30b 0%, #fbd30b 1%, #ed6e23 52%, #ed6d23 63%, #ed6d23 100%);
	background: -ms-linear-gradient(left, #fbd30b 0%, #fbd30b 1%, #ed6e23 52%, #ed6d23 63%, #ed6d23 100%);
	background: linear-gradient(to right, #fbd30b 0%, #fbd30b 1%, #ed6e23 52%, #ed6d23 63%, #ed6d23 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd30b', endColorstr='#ed6d23', GradientType=1 );
}

.solicite_consulta {
	position: absolute;
	top: 73%;
	width: 100%;
}

.solicite_consulta form {
	overflow: auto;
	margin: auto;	
	font-family: helvetica;
	margin-left: 20%;
}

.solicite_consulta div {
	padding: 0% 0% 1% 0%;
}

.solicite_consulta div select {
	padding-left: 14%;
	height: 45px;
	width: 84%;
	font-family: helvetica;
}

.solicite_consulta div button {
	width: 86%;
}
.solicite_consulta form p {color: white;}
.solicite_consulta .btn_busca_imovel {
	background: transparent;
    border: 1px solid white;
    color: white;
    padding: 6.3% 0% 6.3% 0%;
}

.post { width: 92%; margin: auto;}
.post .titulo {}
.post .titulo .nome h1 { color: #525252; font-size: 24px; }
.post .titulo .nome .valor { color: #525252; font-size: 18px;}
.post .titulo .nome .valor span { color: #FAAA19; }
.post .corpo { padding-top: 2%; padding-bottom: 2%;}
.post .corpo h2 {color:#525252; font-size: 18px;}
.post .corpo .detalhe .texto {color: #5D5D5D;}
.post .corpo .informacoes .texto{color: #5D5D5D;}

.div-select {
    /* width:250px;  Tamanho final do select */
    /* overflow:hidden; Esconde o conteúdo que passar do tamanho especificado */
}
  
.div-select select {
      background: url("../img/ico_localizacao.png") no-repeat white;  /* Imagem de fundo (Seta) */
      background-position: center left 5px;  /*Posição da imagem do background*/
      font-family: helvetica; /* Fonte do Select */
      font-size: 14px; /* Tamanho da Fonte */
      padding:13px 20px 13px 12px; /* Configurações de padding para posicionar o texto no campo */
      text-indent: 0.01px; /* Remove seta padrão do FireFox */
      text-overflow: "";  /* Remove seta padrão do FireFox */     
      select::-ms-expand {display: none;} /* Remove seta padrão do IE*/
}

.div-select select option {
  color: #545454;
}

.div-select select:focus {
    outline: none;
}

.div-select-tipo select {
      background: url("../img/ico_key.png") no-repeat white;  /* Imagem de fundo (Seta) */
      background-position: center left 5px;  /*Posição da imagem do background*/
      font-family: helvetica; /* Fonte do Select */
      font-size: 14px; /* Tamanho da Fonte */
      padding:13px 20px 13px 12px; /* Configurações de padding para posicionar o texto no campo */
      text-indent: 0.01px; /* Remove seta padrão do FireFox */
      text-overflow: "";  /* Remove seta padrão do FireFox */     
      select::-ms-expand {display: none;} /* Remove seta padrão do IE*/
}

.pgwSlideshow .ps-current, .pgwSlideshow .ps-current > ul  > li img {
	max-height: 500px;
}

.navbar-default .navbar-toggle {background-color: #efebeb;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #efebeb;}
.navbar-default .navbar-toggle .icon-bar{background-color: #ED6E23}